/* Insert your global CSS here. */
body {
    font-family: Verdana;
    /* background-color:#2e2759; */
    /* color: #f7faff; */
   
}
svg {
     /* font-size: 10px; */
}
h2 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.body-container {
    width: 1006px;
    border: 1px solid lightgray;
    height: auto;
    margin: auto;
    margin-top: 2em;
    padding: 1em 3em;
}

.top {
    float: center;
    width: 800px;
    margin: auto;
    padding: 15px;
}

.middle {
    float:inline-block;
    width: auto;
}

.head {
    text-align: center;
    width: 100%;
    /* color: #f7faff; */
    color: black;
    margin-top:60px;
    font-weight: 300;
}

.big {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    width: 100%;
    /* color: #f7faff; */
    padding: 10px;
}

#d3 {
    width:70%
}

.column {
  float: left;
  height: 100%;
  /* text-align: center; */
}

.desc {
    width: 12%;
}

.x-axis line{
    stroke: white;
    color:white;
}

.x-axis path{
    stroke: white;
    color:white;
}

.x-axis {
    stroke: white;
}

.y-axis line{
    stroke: white;
    color:white;
    font-size: 4em;
}

.y-axis path{
    stroke: white;
    color:white;
}

.y-axis {
    stroke: white;
}

.tooltip-box {
    stroke-width: 1px;
    rx: 2px;
    stroke: darkgray;
    fill: #efefef;
    padding: 3em;
}

.stack-rect {
    filter: brightness(95%);
}

.stack-rect:hover {
    filter: brightness(110%);
    opacity: .8;
}

.boxed {
    float: left;
    border: 1px solid lightgrey;
    height: auto;
    padding: 7px;
    margin: 8px;
}

#view-by {
    padding: 7px;
    margin: 8px;
    width: 250px;
}
#time {
    float: right;
    padding: 7px;
    margin: 8px;
    width: 400px;
    text-align: center;
}


#timeframe-start, #timeframe-end {
    width: 70%;
}